<div class="container">
    <div class="row">
        <div class="col-md-3">
            <form class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label class="form-label">Filtrar por DNI del propietario</label>
                        <input (keyup)="filtrar()" name="dni" [(ngModel)]="filtros.dni" type="text" class="form-control">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-9">
            <table class="table table-condensed table-striped table-hover lista-infracciones">
                <thead>
                    <tr>
                        <th> </th>
                        <th>Matrícula</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Infracción</th>
                        <th>Nombre propietario</th>
                        <th>DNI propietario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of infracciones" class="cursor-pointer">
                        <td>
                            <a [routerLink]="['/infracciones/', i.Matricula]" class="btn btn-info">Examinar</a>
                        </td>
                        <td> {{ i.Matricula }} </td>
                        <td> {{ i.Marca }} </td>
                        <td> {{ i.Modelo }} </td>
                        <td>
                            <img class="tipo-infraccion-icon" src="assets/img/{{ i.Infraccion.Razon }}.png" /> {{ i.Infraccion.Razon }}
                        </td>
                        <td>{{ i.Propietario.NombreCompleto }}</td>
                        <td>{{ i.Propietario.DNI }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>