<div class="card tarjeta-infraccion">
    <img class="card-img-top" src="{{ infraccion.urlFoto }}">
    <div class="card-body">
        <h5 class="card-title">{{ infraccion.Matricula }}</h5>
        <p class="card-text">
            Fecha de deteccion: {{ infraccion.FechaDeteccion }}
            <br> Marca: {{ infraccion.Marca }}, Modelo: {{ infraccion.Modelo }}
        </p>
        <a [routerLink]="['/infracciones/',infraccion.Matricula]" class="btn btn-primary">Ver detalles</a>
    </div>
</div>